/* styles.css */

[data-testid="stSidebar"] {
    background-color: #519782;
    width: 13% !important;
}

[data-testid="stSidebar"] .markdown-text-container {
    color: white !important;
}

[data-testid="stSidebar"] button {
    background-color: #3dbb91 !important;
    color: white !important;
    width: 100% !important;
    padding: 0.5em 1em;
    margin-bottom: 10px;
    border-radius: 7px;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}

[data-testid="stSidebar"] button:hover {
    background-color: #444 !important;
}

html, body, .stApp {

    background-color: rgb(96, 73, 100) !important;
    margin: 0 !important;
    padding: 0 !important;
    color: white !important;
    height: 100%;
    width: 100%;

    /* Change color of all Streamlit titles*/
    h1 {
    color: #131313 !important;
    }
}

/* Optional: Remove scrollbar */
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.stButton > button {
    background-color: #785d8f !important;
    color: white;
    border: 1px solid #686868;
    width: 100% !important;
    box-sizing: border-box;
    padding: 0.5em 1em;
    margin-bottom: 3px;
    border-radius: 7px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.stButton > button:hover {
    background-color: #987bb3 !important;
}

